<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CORDOBARES</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/home.css" rel="stylesheet" />
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>

<body>
    <main>
        <!-- Barra de navegación receptiva-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <!-- <a class="navbar-brand" href="#!">Start Bootstrap</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="./home.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="./index.html">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Tu bar</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./login.html">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Contenido de página-->
        <!-- Full Page Image Header with Vertically Centered Content -->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center description">
                        <img src="./assets/img/logo2.png" alt="..." width="20%" />
                        <h1 class="fw-bolder">CORDOBARES!</h1>
                        <p class="lead mb-0">La mejor guía pa' escabiar de la interné...</p>
                        <br>
                        <p class="lead">Córdoba es una de las principales ciudades de Argentina. Dueña de una movida
                            cultural y gastronómica de relevancia, dividida en polos bien definidos ubicados en 
                            diferentes puntos de la ciudad... BARRIO JARDÍN - BARRIO GÜEMES
                            - BARRIO NUEVA CÓRDOBA - BARRIO GRAL PAZ - BARRIO ALTA CÓRDOBA -
                        </p>
                    </div>
                </div>
            </div>
        </header>
        <!-- Pie de página-->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">
                    Copyright &copy; creado por GrupoCordobares 2022
                </p>
            </div>
        </footer>
    </main>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>